@mixin centerVer{
    top: 50%;
    transform: translatey(-50%);
}
@mixin centerHor{
    left: 50%;
    transform: translatex(-50%) !important;
}
@mixin container {
    max-width: 1200px;
    margin: 0 auto;    
}
@mixin navSetup {
    color: $navLink;
    padding: 8px;
    font-size: 18px;
    transition: all 0.2s;
    font-family: 'Roboto', sans-serif;
    &:hover {
        color: $blackFont;
    }
}

    