@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i');


//colors:
$site-color: lightcoral;
$navLink: #fff;
$blackFont: rgba(0,0,0,0.7);

//font-styles:
$navFont: 'Roboto', sans-serif;
$headerFont: 'Fjalla One', sans-serif;
$smallHeader: 'Raleway', sans-serif;

